html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
main{
    
    width: 325px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "head head head head"
                         "io io io delete"
                         "clear divide multi minus"
                         "num-7 num-8 num-9 plus"
                         "num-4 num-5 num-6 plus"
                         "num-1 num-2 num-3 equals"
                         "num-0 num-0 point equals";
                         background-color: #4d4855;
                         background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    border: 5px solid black;
    padding: 1em;
    border-radius: 25px;
}

#io-display, .util,.numerals, .operator{
    color: cornflowerblue;
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    border: 0;
    user-select: none;
}
.util,.numerals, .operator{
    
    font-size: 1em;
    font-weight: bold;
}
#io-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: io;
    overflow: auto;
}
.displays{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: cornflowerblue;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
}
#main-display{
    flex-grow: 1.5;
    font-size: 1em;
}
#sub-display{
    align-self: flex-end;
    flex-grow: 1;
    font-size: 0.6em;
}

#calc-head{
    display: flex;
    grid-area: head;
    align-items: center;
    justify-content: center;   
}
h1{
    font-size: 1.5em;
    color: cornflowerblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}



#num-0{
    grid-area: num-0;
}
#num-1{
    grid-area: num-1;
}
#num-2{
    grid-area: num-2;
}
#num-3{
    grid-area: num-3;
}
#num-4{
    grid-area: num-4;
}
#num-5{
    grid-area: num-5;
}
#num-6{
    grid-area: num-6;
}
#num-7{
    grid-area: num-7;
}
#num-8{
    grid-area: num-8;
}
#num-9{
    grid-area: num-9;
}
#plus-btn{
    grid-area: plus;
}
#minus-btn{
    grid-area: minus;
}
#divide-btn{
    grid-area: divide;
}
#times-btn{
    grid-area: multi;
}
#point-btn{
    grid-area: point;
}
#equals-btn{
    grid-area: equals;
}
#del-btn{
    grid-area: delete;
}
#clear-btn{
    grid-area: clear;
}